nav li {
    float: left;
}

nav ul {
    background-color: rgba(255, 255, 255, 0);
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li a{
    display: inline-block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: rgba(255, 255, 255, 0.473);
    
}

header{
    background-image: url(chev.jpg);

}

html, body {
    margin: 0%;
    padding: 0%;
    border: 0px;
    text-align: justify;
}

main{
    background-color: rgb(0, 0, 0) ;
    padding-top: 1%;
}

h1{
    font-style: initial;
    font-size: 500%;
    text-align: center;
    color: red;
    margin-top:0;
}

section{
    background-color:white;
    padding: 1%;
    margin: 0.5%;
    margin-left: 15% ;
    margin-right: 15% ;
    clear: both;  
}

section h2{
    font-size: 180%;
    line-height: 100%;
    margin: 1%;
    margin-top:0.2% ;
    clear: both;
}

p{
    line-height: 100%;
    font-size: 100%;
    text-indent: 30px;
    clear: none;
}

.github {
	background-image: url(github.png);
}

.twitter {
	background-image: url(twitter.png);
}

.linkedin {
    background-image: url(linkedin.png);
}

.rodape-pagina{
    background-color: black;
    color: white;
    text-align: center;
}

footer ul{
    list-style-type: none;
    text-align: center;
    padding-left: 10pt;
    margin-bottom: 10px;
    margin-top: 10px;
}
footer li, a{
    display: inline;   
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: inline-block;
    text-indent: -99999px;
}
